html{
    height: 100vh;
    }

body{
    
    width: 100%;
    height: 100vh;
    margin: auto;
}

header{
    background-color: rgba(7, 80, 175, 0.705);
    height: 12.5%;
}
header > h1{
    background-color: #fff;
    width: 7%;
    height: 10%;
    margin-top: 2.9%;
    margin-left: 5%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: rgba(7, 80, 175, 0.705);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pai{
    margin-top: 50px;
    align-content: space-between;
    width: 100%;
    height: 6%;
    display: inline-block;
    margin-left: 0px;
    margin-right: 2%;
    
}

.pai select{
    
    margin-right: 10px;
    float:right;
}

.prog{
    width: 100%;
    height: 70%;
}

.estado{
    width: 40%; 
    height: 90%;
    font-weight: lighter;
    font-size: small;
    float: left;
    background: rgb(197, 189, 189);
    margin-left: 4%;
    margin-top: 2%;
}
.chat{
    padding-top: 4%;
    width: 50%; 
    height: 100%;
    font-weight: lighter;
    font-size: small;
    float: right;
    display: inline;
}

.alinhador{
    width: 85%;
    height: 20%;
    float: right;
    margin-right: 3%;
    margin-bottom: 3%;
    
}
.chat-balloon{

    width: 80%; 
    height: 100%;
    font-weight: bold;
    font-size: large;
    background:rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-left: 3%;
    float: left;
    color: rgb(0, 0, 0);
    padding-top: 2px;
    padding-left: 3%;
    text-overflow: ellipsis;
}

#monkey-ic{

    width: 12%; 
    height: 82%;
    float: right;
    margin-top: 1.5%;
}

.img-estado{
    width: 100%;
    height: 100%;
}






@media (min-width: 630px) {
    header h1{
        padding-top: 1%;
        height: 50px;
    }
}

